<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      HTH8
    </title>
    <link rel="stylesheet" href="css/main.css" />
     <script src="js/jquery.js" type="text/javascript"></script> 
    <!--[if lt IE 7]>	
      <link rel='stylesheet' href='css/ie6.css' type='text/css' media='screen' />
    <![endif]-->
    <!--[if IE 7]>	
      <link rel='stylesheet' href='css/ie7.css' type='text/css' media='screen' />
    <![endif]-->
  </head>
  <body>
	<div id="wrapper">
    	<div id="header">
			<a id='logo' href='/'>HTH8</a>
			<ul id='main-menu' class='clearfix'>
				<li class='products-li'>
					<a href='#'>Produkty</a>
				</li>
				<li class='selected'>
					<a href='#'>Kontakt</a>
				</li>
				<li>
					<a href='#'>Podpora</a>
				</li>
			</ul>
			<ul id='products-menu' class='clearfix'>
				<li><a href='#'>Datalogger</a></li>
				<li><a href='#'>Měřící technika</a></li>
				<li>
					<a href='#'>Regulátory</a>
					<ul>
						<li class='first'><a href='#'>Lorem ipsum</a></li>
						<li><a href='#'>Lorem ipsum</a></li>
						<li><a href='#'>Lorem ipsum</a></li>
						<li class='last'><a href='#'>Lorem ipsum</a></li>
					</ul>
				</li>
				<li><a href='#'>Teplotní čidla</a></li>
				<li><a href='#'>Kompenzační vedení</a></li>
				<li><a href='#'>Datalogger</a></li>
				<li><a href='#'>Datalogger</a></li>
			</ul>
			<ul id='languages' class='clearfix'>
		     	<li class='en'><a href='#'>EN</a></li>
				<li class='de'><a href='#'>DE</a></li>
				<li class='ru'><a href='#'>RU</a></li>
		     </ul>
			<div id='search' class='clearfix'>
				<form action='#' method='post'>
					<input type='text' name='search-text' id='search-text' />
					<input type='submit' id='search-button' />
				</form>
			</div>
	    </div> <!-- /#header-->
		<div id='subpage'>
			<div class='top'>
				<h2>Regulátory (teplotní, procesové)</h2>
				<ul class='tags'>
					<li><a href='#'>HTH 8</a></li>
				</ul>
			</div>
			<div class='content clearfix'>
				<div class='left'>
					<ul>
						<li><a href='#'>Lorem ipsum</a></li>
						<li><a href='#'>Lorem ipsum</a></li>
						<li class='active'><a href='#'>Lorem ipsum</a></li>
						<li><a href='#'>Lorem ipsum</a></li>
						<li><a href='#'>Lorem ipsum</a></li>
					</ul>
				</div>
				<div class='right'>
					<p>Vyrábíme řadu regulátorů od nejjednodužších (Ht60B, Ht60M) až po nejsložitější (HtIndustry).</p>
					<h3>Regulátory jsou nejvíce využívány ve:</h3>
					<ul>
						<li>strojírenském průmyslu</li>
						<li>strojírenském průmyslu</li>
						<li>strojírenském průmyslu</li>
					</ul>
					<div class='product-container clerafix'>
						<div class='left'>
							<img src="images/product.jpg"  alt="Product" />
						</div>
						<div class='right'>
							<h3>HtIndustry</h3>
							<span class='subtitle'>PID programový regulátor určený pro průmyslové aplikace.</span>
							<ul class='arrows'>
								<li>30 programů po 15-ti krocích</li>
								<li>1 měřící vstup, 2 pozice pro komunikační linku, digitální vstupy, ...</li>
								<li>7 výstupů</li>
							</ul>
							<a href='#' class='more-info'>Více informací</a>
						</div>
					</div> <!-- /.product-container -->
					<div class='product-container clerafix'>
						<div class='left'>
							<img src="images/product.jpg"  alt="Product" />
						</div>
						<div class='right'>
							<h3>HtIndustry</h3>
							<span class='subtitle'>PID programový regulátor určený pro průmyslové aplikace.</span>
							<ul class='arrows'>
								<li>30 programů po 15-ti krocích</li>
								<li>1 měřící vstup, 2 pozice pro komunikační linku, digitální vstupy, ...</li>
								<li>7 výstupů</li>
							</ul>
							<a href='#' class='more-info'>Více informací</a>
						</div>
					</div> <!-- /.product-container -->
				</div> <!-- /.right -->
				<div class='content-bottom'>&nbsp;</div>
			</div> <!-- /.content -->
		</div> <!-- /#subpage-->
		<div id='footer'>
			<div id='footer-top' class='clearfix'>
				<div id='footer-desc'>Český výrobce měřící techniky <br /> Dodavatel zařízení pro teplotní procesy</div>
				<div class='aventio-footer'>
					<a href='#'>Aventio</a>
				</div>
				<div class='hth-footer'>
					(c) 2010 <a href='#'>HTH 8</a> <br />
					Všechna práva vyhrazena.
				</div>
			</div>
			<div id='footer-bottom'>
			</div>
		</div> <!-- /#footer-->
	</div> <!-- /#wrapper-->
  </body>
</html>