

/* ----------------------------------------------------------------------------------------------------------
1) Reset
---------------------------------------------------------------------------------------------------------- */

* {margin:0; padding:0;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border:0; outline:0; vertical-align:baseline; background:transparent;}

/* ----------------------------------------------------------------------------------------------------------
2) Universal formatting styles
---------------------------------------------------------------------------------------------------------- */

.noscreen {display:none;}

.box {min-height:1px;}
.box:after, .box-content:after, ul:after, #main:after, #main-in:after, #container:after, .clear , #header:after{display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}


.clear {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}
.fix {float:none; clear:both; width:0; height:0; margin:0; padding:0; border:0; line-height:0; font-size:0;}
.f-left {float:left !important;}
.f-right {float:right !important;}

.t-left {text-align:left !important;}
.t-center {text-align:center !important;}
.t-right {text-align:right !important;}
.t-justify {text-align:justify !important;}

.va-top {vertical-align:top !important;}
.va-middle {vertical-align:middle !important;}
.va-bottom {vertical-align:bottom !important;}

.nom {margin:0 !important;}
.nomt {margin-top:0 !important;}
.nomb {margin-bottom:0 !important;}

.hidden {position:absolute; left:-1000em; top:-1000em; width:1px; height:1px; overflow:hidden;}

ul{
  list-style: none;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
}

#container{
	background: url(images/admin/header.png) repeat-x top left;
	min-width: 1000px;
}


a{
	color: #444;
}


h1{
	font-size: 1.5em;	
	font-weight: bold;
	
}


label{
	margin-right: 15px;
	width: 150px;
}

h1#logo{
	float:left;
	color: #fff;
}

h1#logo a{
	color: #fff;
}

p#login{
	float:right;
	color: #fff;
}

p{
	line-height: 160%;
}


#main h1{
	margin:1em 0 1em 0;
}

h2{
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 1em;
}




h3{
	font-size: 1.1em;	
	font-weight: bold;
	margin-bottom: 1em;
}


h4, h5, h6{
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1em;
	
}


input, button{
	color: #000;
}

dt,dd{
	float:left;
}

dt{
	clear:left;
	width:150px;
}

dd{

	margin-bottom: 20px;
}



#header{
	height: 30px;
	_height: 60px;
	padding:20px 40px 10px 40px;
	
}

#header a{
	color: #fff;
}

#navigation{
	padding-left: 20px;
	height: 100px;
}

#navigation ul#nav{
	position: relative;
}

#navigation ul#nav li{
	float:left;
	margin-top: 15px;
	_width: 50px;
	_white-space: nowrap; 
}


#navigation ul#nav li a{display: block;height:43px;}


#navigation ul#nav li a.top span span,#navigation ul#sub a{
		display:block;
		padding: 10px 20px 0 20px;
}

#navigation ul ul li{
	margin-bottom: 20px;
}
	
#navigation ul#nav li a.top{
	color: #fff;
	
}

#navigation ul#nav li#nav-active a.top{
	text-decoration: none;
	color:#000;
	background: url(images/admin/active-background.png);
}

#navigation ul#nav li#nav-active a span {
	text-decoration: none;
	color:#000;
	display: block;	height: 100%;
	background: url(images/admin/active-background-left-corner.png) no-repeat top left;
}
#navigation ul#nav li#nav-active a.top span span{
	text-decoration: none;
	color:#000;
	height: 100%;
	background: url(images/admin/active-background-right-corner.png) no-repeat top right ;
}




#navigation ul#sub{
	width: 100%;
	position: absolute;
  top:45px;
 	left: 0;
}




#navigation ul#sub li{
	float:left;
	display:block;
  _width: 50px;
  _white-space: nowrap;
  _display: inline;
}


/* info boxes */

#info-box, #warning-box, #ok-box, #errors, #messages{
	padding: 10px 60px 10px 60px;
	text-align: left;
margin-left: -40px;
margin-right: -40px;
margin-bottom: 15px;

	
}


#warning-box, #errors{
	background: #f5aaaa url(/public/styles/images/common/icons/cancel.png) no-repeat 30px;
}
#ok-box, #messages{
	background: #ffa url(/public/styles/images/common/icons/accept.png) no-repeat 30px;
}


#info-box{
	background: #ffa url(/public/styles/images/common/icons/error.png) no-repeat 30px;
}





.box, .box-wide{
margin-bottom: 15px;
position:relative;

}

.box-width-20{
	width: 19%;
	max-width: 19%;	
}
.box-width-30{
	width: 29%;
	max-width: 29%;	
}
.box-width-40{
	width: 39%;
	max-width: 39%;	
}
.box-width-50{
	width: 49%;
	max-width: 49%;	
}
.box-width-60{
	width: 59%;
	max-width: 59%;	
}
.box-width-70{
	width: 69%;
	max-width: 69%;	
}
.box-width-80{
	width: 79%;
	max-width: 79%;	
}
.box-width-90{
	width: 89%;
	max-width: 89%;	
}
.box-width-100{
	width: 100%;
	max-width: 100%;
}


.highlight .left-corner{
	display: block;
	background: url(images/admin/in-box-highlight-left.png);
	width: 9px;
	height: 17px;
	position:absolute;
	bottom: 0;
	left: 0;
}

.highlight .right-corner{
	display: block;
	background: url(images/admin/in-box-highlight-right.png) no-repeat;
	width: 12px;
	height: 17px;
	position:absolute;
	bottom: 0;
	right: 0;
}

.left-corner{
	display: block;
	background: url(images/admin/in-box-left.png);
	width: 11px;
	height: 20px;
	position:absolute;
	bottom: 0;
	left: 0;


}
.right-corner{
	display: block;
	background: url(images/admin/in-box-right.png) no-repeat;
	width: 13px;
	height: 20px;
	position:absolute;
	bottom: 0;
	right: 0;

}
.box .left{
	float:left;
		margin-left:0.5%;
	margin-right:0.5%;
}

.box .right{
	float:right;
	margin-left:0.5%;
	margin-right:0.5%;	
}

.box-content{
	padding: 10px 20px 10px 20px;
	border:1px solid #ccc;
	border-top: none;
}

.highlight .box-content{
	border: none;
	background: #454547;
	color: #fff;
}


.highlight .box-content a{

	color: #fff;
}

.highlight .box-content input, .highlight .box-content button{
	color:  #000;
}
/*
.box-content ul li{
	padding-left: 30px;
	background: url(images/admin/list.png) no-repeat left center;
}
*/

.box-content ul li{
	line-height: 150%;	
}

.box-name{
	width: 100%;
	margin: 0;
	height: 38px;
	display: block;
	background: url(images/admin/header-background-red.png) repeat-x;
	color: #fff;
	font-weight: bold;
}

.box-name span{
	display: block;
	background: url(images/admin/header-background-left-corner-red.png) no-repeat top left;
}

.box-name span span{
	display: block;
	background: url(images/admin/header-background-right-corner-red.png) no-repeat top right;
	padding: 10px 20px 0 20px;
}
/*
.box-name #arrow{
	background: url(images/admin/header-background-left-corner-red.png) no-repeat top right;
}
*/

.move{
		background: url(images/admin/move-box.png) no-repeat top right;
		padding: 10px;
}

.move img{
	margin-right: 10px;
	border: 1px solid #fff;
	float:left;
}

#main{
	margin: 0 40px 0 40px;
  position: relative;
  min-width: 1000px;
  _width: 100%;
}


.all-boxes{
	margin-left:-0.5%;
	margin-right: -0.5%;
}

#footer{
	margin: 0px 40px 0 40px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}

#perex{
	margin-bottom: 20px;
}



.box-content ul{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 15px;
	}

hr{
	margin: 10px 0 15px 0;
	display:block; 
	height:1px;
	padding:0;
	border:0 solid #CCC;
	background:#CCC;
	color:#CCC;
}

.highlight hr{

	margin: 10px 0 15px 0;
	display:block; 
	height:1px;
	padding:0;
	border:0 solid #333;
	background:#333;
	color:#333;

}


.dijitTabPaneWrapper{
	padding: 20px;
}


.dijitTabPaneWrapper label{
	display: block;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #ddd;
}


.dijitTabPaneWrapper label input{
	margin-right: 15px;
}

dt{
	width: 20% !important;
}
dd{
	width: 80% !important;
}

.smallLoader{
	margin-left: 15px;
	background: transparent url(images/admin/loader.gif) no-repeat left center;
	width: 16px;
	height: 16px;
}

.mark{
	padding-right: 3px;
	margin-right: 3px;
	border-right: 1px dotted #000;
}

.form-wrap dd, .form-wrap dt
{
	float: none !important;
	margin: 0.1em 0 !important;
}

.form-wrap dt
{
	width: auto !important;
}

.unwritten
{
	background-color: #7edbf0;
	padding: 0px 6px 0px 6px;
	text-align: center;
	margin-right: 3px;
}

.expired
{
	background-color: #f3a0a0;
	padding: 0px 6px 0px 6px;
	text-align: center;
	margin-right: 3px;
}

.required
{
}

.required:after
{
  color: red;
  content: " *";
}

div[title]:before{
/*Shows the generated content*/
  color: red;
	content: attr(title);
	visibility: visible;
}

a img
{
	vertical-align: middle;
}


/*---------------------------------------- DASHBOARD ---------------------------------------------*/


#dashboard li a{
	display: block;
	float:left;
	margin-right: 20px;
	width: 109px;
	height: 30px;
	background-position: 0 0;
	font-size: 1em;
	text-align: center;
	padding-top: 73px;
	_height: 103px;
}

#dashboard li a:hover{
	background-position: 0 -103px;
	color: #fff;
}

#dashboard li#categories a{
	background-image: url(images/admin/categories.png);
}

#dashboard li#users a{
	background-image: url(images/admin/users.png);
}

#dashboard li#access a{
	background-image: url(images/admin/access.png);
}

#dashboard li#static a{
	background-image: url(images/admin/static.png);
}

#dashboard li#products a{
	background-image: url(images/admin/products.png);
}

#dashboard li#settings a{
	background-image: url(images/admin/settings.png);
}

#dashboard li#files a{
	background-image: url(images/admin/files.png);
}

.largeField
{
  font-size: 20px !important;
  font-weight: bold;
  color: #222222;
  width: 90%;  
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000045;
}