#realitni-experti, #content .right, .package .buttonm, #content .main.bg {
  behavior: url('css/iepngfix.htc');
}

#main-menu li {
  display:inline;
}

#main-menu li a {
  display:inline-block;
  width:auto;
}

#content .right .box .body {
  background-position:-1px 0;
}

#content .right .box .footer {
  margin:-3px 0 0 -1px;
}

#content .right .box .tel {
  margin-bottom:5px;
}

.text-page h2 {
  margin-bottom:0;
}

.smaller h1 {
  margin-top:20px;
}

h1 {
  margin-top:55px;
}